@tailwind base;
@tailwind components;
@tailwind utilities;

.device-screen-max {
  max-width: 1440px;
  margin: 0 auto;
}

.padding-screen-max {
  padding-left: 5%;
  padding-right: 5%;

  @media only screen and (max-width: 1440px) {
    .device-screen-max {
      padding: 0;
    }
  }
}
